/* Light Mode */
body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark Mode */
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Slider styles */
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]:active::-webkit-slider-thumb {
    background: #45a049;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]:active::-moz-range-thumb {
    background: #45a049;
  }
  